.sidebar{
    background-color:white;
    color: black;
    float: left;
    width: 20%;
    height: 1000px;
}
.sidebar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.sidebar ul li a{
    text-decoration: none;
    display: block;/*xuống dòng cho các link*/
    background-color: rgb(230, 228, 223);
    padding: 10px;
    color: black;
}
.sidebar ul li a:hover{
    background-color: darkgray;
    color: white;
}.sidebar ul li a.active{
    background-color: darkseagreen;
    color: white;
}
.sidebar ul li a.a:hover:not(.active){
    background-color: antiquewhite;
    color: white;
}